:root{
    --vermelho:#e50914;
    --preta:#141414;
    --branco: #e5e5e5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Elementos base*/
body{
    background: var(--preta);
    font-family:'sans-serif', Times, serif;
    color: white;
    text-decoration-style: solid;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:right;
}

header .logo{
    background: url('/img/netflix-logo.png') no-repeat;
    height:80px;
    width: 300px;
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'sans-serif', Helvetica, Arial Black;
    font: size 40px;
    text-decoration-style: solid;
}

nav a{
    text-decoration: none;
    color: var(--branco);
    margin-right: 10px;
    text-decoration-style: solid;
}

nav a:hover{
    color: #fff;
}

.usuario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right:10px;
}

.perfil{
    background: url('/img/perfil.png') no-repeat;
    width:50px;
    height:50px;
    background-size: cover;
    border-radius: 7px;

}

.menu-trigger{
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-width: 0px;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color :rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: solid;
    border-top-width: 5px;
    content: "";
    display: block;
    height: 0px;
    margin-left: 5px;
    width: 0px;
    margin-top: 26px;
}

/* Filme principal*/
.filme-principal{
    font-size:16px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)100%), url('/img/capa-shirkers.jpg');

    height: 768px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.filme-principal .descricao{
    margin-bottom: 90px;
}

.titulo{
    background: url('/img/titulo.png') no-repeat;
    height:200px;
    font-size: 30px;
    margin-top: 300px;
    background-size: cover;
}
